---
import About from "../components/About.astro";
import Certification from "../components/Certification.astro";
import Detail from "../components/Detail.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Journey from "../components/Journey.astro";
import MainSection from "../components/MainSection.astro";
import Product from "../components/Product.astro";
import Wholesaler from "../components/Wholesaler.astro";
import ShuffleNav from "../components/ShuffleNav.astro";
import Layout from "../layouts/Layout.astro";
import FooterPlane from "../components/FooterPlane.astro";
---

<Layout title="Green Agri Corp Pvt. Limited.">
	<div class="z-0 relative">
		<Header />
		<!-- <ShuffleNav/> -->
		<!-- <div id="header-container" class="fixed top-0 w-full z-50 /hidden transition-all hidden ">
		</div>
		<script is:inline>
			window.addEventListener("scroll", function () {
				const headerContainer =
					document.getElementById("header-container");
				headerContainer.style.transition = "visibility 0.5s";
				if (window.scrollY >= 10 && headerContainer) {
					headerContainer.classList.remove("hidden");
				} else {
					if (headerContainer) {
						headerContainer.classList.add("hidden");
					} else {
						alert("hello");
					}
				}
			});
		</script> -->
		<!-- <div class="p-12 w-full"></div> -->
		<div class="z-0 relative">
			<MainSection />
		</div>
		<div class="flex md:-translate-y-32 z-20 transition-all">
			<Product />
		</div>
		<About />
		<Detail />
		<!-- <Journey /> -->
		<Wholesaler />
		<Certification />
		<Footer />
		<!-- <FooterPlane /> -->
	</div>
</Layout>
