---
import About from "../components/About.astro";
import Certification from "../components/Certification.astro";
import Detail from "../components/Detail.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Journey from "../components/Journey.astro";
import MainSection from "../components/MainSection.astro";
import Product from "../components/Product.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Green Agri Corp Pvt. Limited.">
	<div class="z-0 relative">
		<Header />
		<div class="p-12 w-full"></div>
		<div class="z-0 relative">
			<MainSection />
		</div>
		<div class="flex md:-translate-y-32 z-20 transition-all">
			<Product />
		</div>
		<About />
		<Detail />
		<!-- <Journey /> -->
		<Certification />
		<Footer />
	</div>
</Layout>
