---
import "@/styles/index.css";
import About from "../components/About.astro";
import Certification from "../components/Certification.astro";
import Detail from "../components/Detail.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Journey from "../components/Journey.astro";
import MainSection from "../components/MainSection-2.astro";
import Product from "../components/Product.astro";
import Wholesaler from "../components/Wholesaler.astro";
import ShuffleNav from "../components/ShuffleNav.astro";
import Layout from "../layouts/Layout.astro";
import FooterPlane from "../components/FooterPlane.astro";
import Carousel from "../components/Carousel.astro";
import Navbar from "../components/AnotherNav";
---

<Layout title="Green Agri Corp Pvt. Limited.">
  <div class="right-0 left-0">
    <Navbar animate={true} client:load />
    <MainSection />
    <About />
    <!-- <Journey /> -->
    <Product />
    <div class="p-5"></div>
    <Detail />
    <Wholesaler />
    <Certification />
    <Footer />
  </div>
</Layout>
