---
import { Image } from "astro:assets";
import OtherPageLayout from "../layouts/OtherPageLayout.astro";
import bgImage from "./../../public/bgproduction.jpg";
---

<OtherPageLayout>
  <!-- Hero Section -->
  <section class="relative bg-cover bg-center h-[400px] bg-slate-200 z-0">
    <Image
      class="object-cover w-full h-full absolute inset-0 bg-cover bg-center bg-no-repeat -z-10"
      src={bgImage}
      data-aos="fade-in"
      alt="Production"
    />
    <div class="absolute inset-0 bg-black opacity-50 -z-10"></div>
    <div
      class="relative max-w-4xl mx-auto flex flex-col justify-center h-full px-6 lg:px-8"
    >
      <p
        class="text-[#FF8F00] font-semibold text-xl tracking-wider mb-2"
        data-aos="fade-up"
      >
        About Us
      </p>
      <h1
        class="text-white text-3xl lg:text-5xl font-extrabold"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        State of the Art Facility
      </h1>
      <p class="text-white text-lg" data-aos="fade-up" data-aos-delay="200">
        With Advanced Technology & Equipment
      </p>
    </div>
  </section>

  <!-- Description Section -->
  <section class="relative -translate-y-1/2 z-20 px-4 sm:px-6">
    <div
      class="bg-[#F5F5DC] max-w-6xl mx-auto py-2 sm:py-6 px-6 sm:px-10 lg:px-12 rounded-full border border-[#4B4B4B] shadow-lg text-center"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <p class="text-gray-700 text-sm sm:text-lg leading-relaxed">
        We have the largest non-basmati rice production capacity in Central
        India, with mills in Raipur and Delhi.
      </p>
    </div>
  </section>

  <!-- Detail Section -->
  <section class="px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl text-center font-semibold mb-8" data-aos="fade-up">
      A Legacy of Excellence in Rice Milling and Export
    </h2>
    <div
      class="flex flex-col lg:flex-row max-w-6xl mx-auto gap-12 lg:gap-16 items-center"
    >
      <!-- Text Content -->
      <div
        class="max-w-xl space-y-6"
        data-aos="fade-right"
        data-aos-delay="300"
      >
        <p class="text-base text-[#4B4B4B]">
          With years of experience, Green Agri Corp has established itself as a
          prominent player in the Chhattisgarh rice market. We possess deep
          expertise in every stage of the rice value chain, from sourcing the
          finest paddy to milling, processing, and exporting premium rice
          varieties.
        </p>
      </div>
      <!-- Image Section -->
      <div class="w-full" data-aos="fade-left">
        <img
          src="/production-3.png"
          alt="Production Facility"
          class="w-full max-w-[350px] h-auto object-cover border shadow-md rounded-xl"
        />
      </div>
    </div>
    <div
      class="max-w-6xl mx-auto mt-8 text-center"
      data-aos="fade-up"
      data-aos-delay="400"
    >
      <p class="text-base text-[#4B4B4B]">
        Our state-of-the-art milling facilities and stringent quality control
        measures ensure every grain of rice meets the highest international
        standards. We are dedicated to long-term client relationships based on
        trust, transparency, and mutual success.
      </p>
    </div>
  </section>

  <!-- Production Facilities -->
  <h2 class="text-3xl text-center mt-16 font-semibold" data-aos="fade-up">
    Production Facilities
  </h2>

  <section class="px-4 sm:px-6 lg:px-8">
    <div
      class="flex flex-col lg:flex-row max-w-6xl mx-auto mt-8 gap-12 py-12 lg:gap-16 items-center"
    >
      <div class="w-full" data-aos="fade-right">
        <img
          src="/production-1.png"
          alt="Processing Facility"
          class="w-full max-w-[350px] h-auto object-cover border shadow-md rounded-xl"
        />
      </div>
      <div
        class="max-w-xl space-y-4 text-center lg:text-left"
        data-aos="fade-left"
      >
        <h2 class="text-[#558B2F] text-lg md:text-xl lg:text-2xl font-semibold">
          Process
        </h2>
        <p class="text-base text-[#4B4B4B]">
          Our rice mill units are located close to paddy markets (mandis). Our
          sourcing & processing units are strategically positioned between paddy
          hubs, ensuring seamless transportation and the highest quality paddy
          at competitive rates all year round.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col lg:flex-row max-w-6xl mx-auto py-12 gap-12 lg:gap-16 items-center"
    >
      <div
        class="max-w-xl space-y-4 text-center lg:text-left"
        data-aos="fade-right"
      >
        <h2 class="text-[#558B2F] text-lg md:text-xl lg:text-2xl font-semibold">
          Laboratory & Quality Control
        </h2>
        <p class="text-base text-[#4B4B4B]">
          We have an in-house laboratory where quality checks are conducted at
          every stage of rice processing to ensure superior standards. Our
          facilities are located near paddy markets, allowing efficient sourcing
          and processing.
        </p>
      </div>
      <div class="w-full" data-aos="fade-left">
        <img
          src="/production-2.png"
          alt="Quality Control Lab"
          class="w-full max-w-[350px] h-auto object-cover border shadow-md rounded-xl"
        />
      </div>
    </div>
  </section>
</OtherPageLayout>
