<section class="max-w-7xl mx-auto my-10 sm:my-14 md:my-20 px-4">
    <h2
        class="text-[#2E7D32] text-center text-2xl sm:text-3xl md:text-4xl font-extrabold"
        data-aos="fade-up"
    >
        Our Certification
    </h2>

    <div
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 sm:gap-12 md:gap-16 lg:gap-20 mt-8 sm:mt-12 justify-items-center"
        data-aos="fade-up"
        data-aos-delay="200"
    >
        <img
            src="cer-1.png"
            alt="Certification 1"
            class="w-24 sm:w-32 md:w-40 lg:w-48 h-auto transform transition duration-300 ease-in-out hover:scale-105"
            data-aos="zoom-in"
            data-aos-delay="400"
        />
        <img
            src="cer-2.png"
            alt="Certification 2"
            class="w-24 sm:w-32 md:w-40 lg:w-48 h-auto transform transition duration-300 ease-in-out hover:scale-105"
            data-aos="zoom-in"
            data-aos-delay="500"
        />
        <img
            src="cer-3.png"
            alt="Certification 3"
            class="w-24 sm:w-32 md:w-40 lg:w-48 h-auto transform transition duration-300 ease-in-out hover:scale-105"
            data-aos="zoom-in"
            data-aos-delay="600"
        />
        <img
            src="cer-4.png"
            alt="Certification 4"
            class="w-24 sm:w-32 md:w-40 lg:w-48 h-auto transform transition duration-300 ease-in-out hover:scale-105"
            data-aos="zoom-in"
            data-aos-delay="700"
        />
    </div>
</section>
