---
import { CiGlobe } from "react-icons/ci";
---

<section class="bg-[#F5F5DC] px-4">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 max-w-7xl mx-auto gap-10 py-14"
  >
    <!-- Item 1 -->
    <!-- <div class="flex items-center space-x-4">
            <img src="det-1.webp" alt="" class="w-[60px] sm:w-[80px]" />
            <div>
                <h3 class="text-lg sm:text-2xl font-extrabold">
                    Largest Rice Mill
                </h3>
                <p class="text-sm">in Raipur</p>
            </div>
        </div> -->

    <!-- Item 2 -->
    <div class="flex items-center space-x-4">
      <img src="det-2.webp" alt="factory image" class="w-[60px] sm:w-[80px]" />
      <div>
        <h3 class="text-lg sm:text-2xl font-extrabold">
          State of the Art Facility
        </h3>
        <p class="text-sm">With Advanced Technology & Equipment</p>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="flex items-center space-x-4">
      <img src="det-3.webp" alt="Globe image" class="w-[60px] sm:w-[80px]" />
      <div>
        <h3 class="text-lg sm:text-2xl font-extrabold">Conveniently Located</h3>
        <p class="text-sm">for global export</p>
      </div>
    </div>

    <!-- Item 4 -->
    <div class="flex items-center space-x-4">
      <img src="det-4.webp" alt="factory image" class="w-[60px] sm:w-[80px]" />
      <div>
        <h3 class="text-lg sm:text-2xl font-extrabold">Committment</h3>
        <p class="text-sm">to Quality and Safety; SQL Certified</p>
      </div>
    </div>

    <!-- Item 5 -->
    <!-- <div class="flex items-center space-x-4">
      <img src="globe.png" alt="" class="w-[60px] sm:w-[80px]" />
      <div>
        <h3 class="text-lg sm:text-2xl font-extrabold">Global Presence</h3>
        <p class="text-sm">Serving customers worldwide</p>
      </div>
    </div> -->

    <!-- Item 6 -->
    <div class="flex items-center space-x-4">
      <img
        src="calender.png"
        alt="calender image"
        class="w-[60px] sm:w-[80px]"
      />
      <div>
        <h3 class="text-lg sm:text-2xl font-extrabold">Timely Deliveries</h3>
        <p class="text-sm">Ensuring on-time delivery</p>
      </div>
    </div>
  </div>
</section>
