<section class="py-20 bg-[#F5F5DC]">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-3/5 flex flex-wrap">
                <div class="w-1/2 lg:w-1/4 mb-8">
                    <h3 class="mb-4 text-lg font-bold font-heading">Company</h3>
                    <ul class="text-sm">
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">About Us</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Careers</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Press</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Blog</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="w-1/2 lg:w-1/4 mb-8">
                    <h3 class="mb-4 text-lg font-bold font-heading">Pages</h3>
                    <ul class="text-sm">
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Login</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Register</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Add list</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Contact</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="w-1/2 lg:w-1/4 mb-8">
                    <h3 class="mb-4 text-lg font-bold font-heading">Legal</h3>
                    <ul class="text-sm">
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Terms</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">About Us</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Team</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Privacy</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="w-1/2 lg:w-1/4 mb-8">
                    <h3 class="mb-4 text-lg font-bold font-heading">
                        Resources
                    </h3>
                    <ul class="text-sm">
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Blog</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Service</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Product</a
                            >
                        </li>
                        <li class="mb-2">
                            <a
                                class="text-gray-500 hover:text-gray-700"
                                href="#">Pricing</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="order-first lg:order-last mb-10 lg:mb-0 w-full lg:w-2/5"
            >
                <h3 class="mb-4 text-lg font-bold font-heading">Subscribe</h3>
                <p class="mb-5 text-gray-500">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <input
                    class="w-full lg:w-2/3 mb-4 pl-4 py-3 mr-4 border rounded"
                    type="email"
                    placeholder="Type your e-mail"
                />
                <button
                    class="inline-block px-5 py-3 text-sm bg-gray-500 hover:bg-gray-600 text-white font-semibold border border-gray-500 hover:border-gray-600 rounded transition duration-200"
                    >Action</button
                >
            </div>
        </div>
    </div>
    <div class="mt-4 lg:mt-16 mb-8 border-b border-gray-300"></div>
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap items-center">
            <div class="w-full lg:w-1/2 mb-6 lg:mb-0">
                <a class="text-gray-600 text-2xl leading-none" href="#">
                    <img class="" src="/green.png" alt="" width="auto" />
                </a>
                <p class="hidden lg:block mt-3 text-sm text-gray-500">
                    All rights reserved. © Plain Inc.
                </p>
            </div>
            <div class="w-full lg:w-1/2 mb-4 lg:mb-0">
                <div class="mb-4 flex lg:justify-end">
                    <a class="inline-block mr-8" href="#">
                        <img src="plain-assets/socials/facebook.svg" />
                    </a>
                    <a class="inline-block mr-8" href="#">
                        <img src="plain-assets/socials/twitter.svg" />
                    </a>
                    <a class="inline-block mr-8" href="#">
                        <img src="plain-assets/socials/github.svg" />
                    </a>
                    <a class="inline-block mr-8" href="#">
                        <img src="plain-assets/socials/instagram.svg" />
                    </a>
                    <a class="inline-block" href="#">
                        <img src="plain-assets/socials/linkedin.svg" />
                    </a>
                </div>
            </div>
            <p class="lg:hidden text-sm text-gray-500">
                All rights reserved. © Plain Inc.
            </p>
        </div>
    </div>
</section>
