<navbar
    class="w-full h-24 bg-white flex justify-center px-5 items-center shadow-lg font-poppins font-semibold cursor-pointer fixed z-50"
>
    <div
        class="flex justify-between 2xl:max-w-7xl xl:max-w-5xl w-full items-center"
    >
        <div>
            <a href="#">
                <img
                    class="h-20"
                    src="/greenlogo.png"
                    alt="Green Corp Logo"
                />
            </a>
        </div>
        <ul class="hidden md:flex space-x-6 text-lg text-[#33691E]">
            <li class="group relative">
                <a
                    href="/"
                    class="before:absolute before:left-0 before:bottom-0 before:w-0 before:h-[2px] before:bg-[#FF8F00] before:transition-all before:duration-300 group-hover:before:w-full"
                    >Home</a
                >
            </li>
            <li class="group relative">
                <a
                    href="/production"
                    class="before:absolute before:left-0 before:bottom-0 before:w-0 before:h-[2px] before:bg-[#FF8F00] before:transition-all before:duration-300 group-hover:before:w-full"
                    >Production</a
                >
            </li>
            <li class="group relative">
                <a
                    href="/product"
                    class="before:absolute before:left-0 before:bottom-0 before:w-0 before:h-[2px] before:bg-[#FF8F00] before:transition-all before:duration-300 group-hover:before:w-full"
                    >Product</a
                >
            </li>

            <li class="group relative">
                <a
                    href="/contact"
                    class="before:absolute before:left-0 before:bottom-0 before:w-0 before:h-[2px] before:bg-[#FF8F00] before:transition-all before:duration-300 group-hover:before:w-full"
                    >Contact-us</a
                >
            </li>
            <!-- <li class="hover:text-green-700"><a href="#" class="">About-us</a></li> -->
            <!-- <li class="hover:text-green-700"><a href="#" class="">Business</a></li> -->
        </ul>

        <div class="md:hidden">
            <a class="text-5xl" href=""> &#8801;</a>
        </div>
    </div>
</navbar>
