<section class="max-w-7xl mx-auto">
    <div>
        <h3 class="text-[#2E7D32] font-semibold text-2xl">
            The Journey of GREEN AGRI PVT. LTD
        </h3>
        <p class="text-[#2E7D32]">From Roots to Revolution</p>
    </div>
</section>
