<section
  class="md:w-[90vw] h-auto bg-[#F5F5DC] mx-auto rounded-2xl py-12 w-full xl:w-[80vw] transition-all"
  data-aos="fade-up"
>
  <h2
    class="text-[#2E7D32] text-center text-2xl md:text-2xl lg:text-3xl font-semibold"
    data-aos="fade-down"
  >
    A Symphony of Premium Rice Varieties
  </h2>
  <p
    class="text-[#4B4B4B] text-center mx-auto text-base py-4 max-w-[55vw]"
    data-aos="fade-up"
  >
    We source organic paddy directly from farmers, crafting premium rice and
    maize while repurposing husk by-products into valuable products.
  </p>
  <div class="grid grid-cols-2 md:w-[55vw] mx-auto md:gap-5 lg:gap-12 my-8">
    <!-- Image Wrapper -->
    <div class="relative group" data-aos="zoom-in" data-aos-delay="100">
      <img
        src="rice-1.webp"
        alt="Premium Basmati Rice"
        class="md:rounded-tr-3xl md:rounded-bl-3xl group-hover:scale-110 transition-transform duration-300"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-tr-3xl rounded-bl-3xl"
      >
        <span class="text-white text-lg font-semibold"
          >Premium Basmati Rice</span
        >
      </div>
    </div>

    <div class="relative group" data-aos="zoom-in" data-aos-delay="200">
      <img
        src="rice-2.webp"
        alt="Organic Brown Rice"
        class="md:rounded-tr-3xl md:rounded-bl-3xl group-hover:scale-110 transition-transform duration-300"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-tr-3xl rounded-bl-3xl"
      >
        <span class="text-white text-lg font-semibold">Organic Brown Rice</span>
      </div>
    </div>

    <div class="relative group" data-aos="zoom-in" data-aos-delay="300">
      <img
        src="rice-2.webp"
        alt="Whole Grain Rice"
        class="md:rounded-tr-3xl md:rounded-bl-3xl group-hover:scale-110 transition-transform duration-300"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-tr-3xl rounded-bl-3xl"
      >
        <span class="text-white text-lg font-semibold">Whole Grain Rice</span>
      </div>
    </div>

    <div class="relative group" data-aos="zoom-in" data-aos-delay="400">
      <img
        src="rice-1.webp"
        alt="Golden Sella Rice"
        class="md:rounded-tr-3xl md:rounded-bl-3xl group-hover:scale-110 transition-transform duration-300"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-tr-3xl rounded-bl-3xl"
      >
        <span class="text-white text-lg font-semibold">Golden Sella Rice</span>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center my-8" data-aos="fade-up">
    <a href="product">
      <button
        class="px-6 py-3 bg-[#2E7D32] text-white rounded-lg hover:bg-[#1B5E20] transition-colors duration-300"
      >
        Explore More
      </button>
    </a>
  </div>
</section>
