---
import Button from "./ui/button.astro";
---

<section class="w-[70vw] h-auto bg-[#F5F5DC] mx-auto rounded-2xl py-12">
    <h2
        class="text-[#2E7D32] text-center text-lg md:text-xl lg:text-3xl font-semibold"
    >
        A Symphony of Premium Rice Varieties
    </h2>
    <p class="text-[#4B4B4B] text-center mx-auto text-base py-4 max-w-[55vw]">
        We source organic paddy directly from farmers, crafting premium rice and
        maize while repurposing husk by products into valuable products.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 w-[55vw] mx-auto gap-16 my-8">
        <div class="">
            <img
                src="rice-1.webp"
                alt=""
                class="rounded-tr-3xl rounded-bl-3xl"
            />
        </div>
        <div>
            <img
                src="rice-2.webp"
                alt=""
                class="rounded-tr-3xl rounded-bl-3xl"
            />
        </div>
        <div>
            <img
                src="rice-2.webp"
                alt=""
                class="rounded-tr-3xl rounded-bl-3xl"
            />
        </div>
        <div>
            <img
                src="rice-1.webp"
                alt=""
                class="rounded-tr-3xl rounded-bl-3xl"
            />
        </div>
    </div>
    <div class="flex justify-center items-center my-8">
        <Button> Explore More</Button>
    </div>
</section>
